@import url('/fonts/fonts.css');/*У тебя нет в этой папке, папки со шрифтами. Соответственно ничего и не подключено*/

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.animate {
    background-color: #34495E;
}

header .container {
    display: flex;
    padding: 15px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-item {
    padding: 5px 10px;
}

.menu-item a {
    font-size: 22px;
    letter-spacing: 0px;/*0 не имеет единиц измерения*/
    line-height: 31px;
    color: #FFF;
    font-family: "Droid Sans Regular"; /*А где семейство*/
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.menu-item a:hover {
    color: #FF0000;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.video {
    background-color: antiquewhite; /*Мы ж для теста писали это. Надо было бы убрать )*/
}

video {
    width: 100%;
    height: auto;
}

.greetings {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 275px;
    margin-top: -65vh;/*Плохая практика. Либо абсолют либо отрицательный отступ*/
    position: absolute;
}

.greetings h2 {
    width: 60%;
    font-size: 80px;
    letter-spacing: 1px;
    line-height: 93px;
    color: #FFF;
    font-family: "Droid Sans Bold";/*Почему бы не в 1 строку?*/
    font-weight: 700;
    text-align: center;
    padding-bottom: 122px;
}

.greetings a {
    width: 64px;
    height: 64px;
    background-color: #2ECC71;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
}

.greetings a::after {
    position: relative;
    content: '';
    width: 10000%;
    transform: translateX(-50%);
    display: block;
    height: 2px;
    background: #FFF;
    margin: 0 auto;
    margin-top: -42%; /*Опять же 1 строка и либо позиционированием либо отрицателным выравниванием. */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 1;
}

.greetings span {
    margin-top: 10px;
    font-size: 3em; /*Везде применяй единую систему исчисления.*/
}

.greetings p {
    padding-top: 20px;
    font-size: 27px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #FFF;
    font-family: "Droid Serif Regular";
    font-weight: 400;
    text-align: center;
}

.sixteen-nine {
    position: relative;
}

.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.3%;
}

.sixteen-nine>.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#about {
    height: 130vh; /*Ну высоты тут точно быть не должно*/
    background-color: #34495E;
}

.about-info h2 {
    padding: 125px;
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #FFF;
    font-family: "Droid Sans Bold";
    font-weight: 700;
    text-align: center;
}

.about-info p {
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 33px;
    color: #FFF;
    font-family: "Droid Serif Regular";
    font-weight: 400;
    padding-bottom: 135px;
}

.service-card {
    display: flex;
}

.service-card li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-card span {
    font-size: 7em;
    padding: 25px;
    color: #FFF;
    border: solid 3px #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.service-card h3 {
    padding-top: 32px;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #FFF;
    font-family: "Droid Sans Bold";
    font-weight: 700;
}

.service-card p {
    width: 50%;
    padding-top: 35px;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #FFF;
    font-family: "Droid Serif Regular";
    font-weight: 400;
    text-align: center;
}

#portfolio {
    height: 110vh;
    background-color: #FFF;
}

#portfolio h2 {
    padding-top: 126px;
    padding-bottom: 76px;
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #2C3E50;
    font-weight: 700;
    text-align: center;
}

.portfolio-nav {
    display: flex;
    justify-content: center;
}

.portfolio-item-list {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 60%; /*И такой ширины точно не должно быть*/
}

.portfolio-item-list a {
    padding: 5px 20px;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 31px;
    border-radius: 20px;
    color: #2C3E50;
    font-weight: 400;
}

.portfolio-item-list a:hover {
    padding: 5px 20px;
    color: #FFF;
    background-color: #2ECC71;
    outline: none;
    transition: all 0.6s;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.portfolio-gallery {
    padding-top: 112px;
    padding-bottom: 114px;
}

.gallery {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.gallery-item {
    position: relative;
    padding: 20px;
}

.gallery img {
    position: relative;
    max-width: 348px;
    max-height: 260px;
    border: 10px solid #EEE;
    box-sizing: border-box;
    background-color: #2C3E50;
    opacity: 1;
}

.text-holder {
    display: flex;
    visibility: hidden;
    max-width: 348px;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.text-holder h3 {
    font-size: 35px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #2ECC71;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.inf {
    text-decoration: none;
    width: 25%;
    height: auto;
    color: #2ECC71;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid #2ECC71;
    padding: 7px 15px;
    margin-left: 100px;
    margin-top: 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.inf:hover {
    text-decoration: none;
    color: #2ECC71;
}

.gallery-item:hover > .text-holder {
    visibility: visible;
    opacity: 1;
}

#team {
    height: 100vh;
    background-color: #2980B9;
}

#team h2 {
    padding-top: 122px;
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #FFF;
    font-family: "Droid Sans Bold";
    font-weight: 700;
    text-align: center;
}

.team {
    display: flex;
}

.team-cards {
    padding-top: 68px;
}

.team-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team-info img {
    height: 230px;
    width: 230px;
    border-radius: 115px;
    background-color: #FFF;
    border: #FFF 3px solid;
}

.team-info h3 {
    padding-top: 34px;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #FFF;
    font-family: "Droid Sans Bolds";
    font-weight: 700;
    text-align: center;
}

.team-info p {
    padding-top: 40px;
    padding-bottom: 55px;
    width: 50%;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #FFF;
    font-family: "Droid Serif Regular";
    font-weight: 400;
    text-align: center;
}

.team-social {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.team-info span {
    font-size: 3em;
    text-align: center;
    padding: 15px;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.team-info span:hover {
    color: #000;
    background-color: #FFF;
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
}

#contact {
    height: 100vh;
}

.contact-about h2 {
    padding-top: 122px;
    padding-bottom: 68px;
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #2C3E50;
    font-family: "Droid Sans Bold";
    font-weight: 700;
    text-align: center;
}

.contact-about p {
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #2C3E50;
    font-family: "Droid Sans Bold";
    font-weight: 700;
    text-align: center;
    padding-bottom: 88px;
}

.contact-wrap {
    display: flex;
    justify-content: center;
}

.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    margin-left: 70px;
}

input {
    width: 80%;
    height: 30px;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #2C3E50;
    font-family: "Droid Serif Regular";
    font-weight: 400;
    border-style: none;
    border-bottom: solid 2px #2ECC71;
}

.email {
    padding-top: 56px;
}

.message {
    width: 80%;
    resize: none;
    padding-top: 68px;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #2C3E50;
    font-family: "Droid Serif Regular";
    font-weight: 400;
    border-style: none;
    border-bottom: solid 2px #2ECC71;
    padding-bottom: 48px;
}

.btn {
    width: 130px;
    height: 47px;
    border-radius: 20px;
    color: #FFF;
    background-color: #2ECC71;
    padding: 5px;
    margin-top: 48px;
}

.btn:hover {
    background-color: #FFF;
    color: #2ECC71;
    border: #2ECC71 2px solid;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.address {
    display: flex;
    flex-direction: column;
    width: 15%;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #2C3E50;
    font-family: "Droid Sans Regular";
    font-weight: 400;
    font-style: normal;
}

.refs:hover {
    text-decoration: none;
    color: #FF0000;
}

.address span {
    font-size: 16px;
    font-weight: 700;
}

footer {
    background-color: #34495E;
    height: 282px;
}

footer .container {
    max-width: 1170px;
    width: 100%;
    padding-top: 76px;
}

.footer-content-wrap {
    display: flex;
    padding-top: 38px;
}

.footer-address {
    display: flex;
    flex-direction: column;
/*Пустых строк быть не должно*/
    width: 30%;
    font-style: normal;
}

.referenses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.referenses a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    font-family: "Droid Sans Bold";
    font-weight: 700;
    text-align: center;
    font-style: normal;
}

.referenses a:hover {
    color: #FF0000;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
}

.social span:hover {
    color: #000;
    background-color: #FFF;
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
}

.social ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer-address p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #FFF;
    font-family: "Droid Sans Bold";
    font-weight: 700;
    text-decoration: none;
}

footer span {
    font-size: 2em;
    color: #FFF;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-left: 12px;
    border: solid 2px #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
